<h2 id="title">BBC Peaks</h2>

<EmberPeaks @audio="https://kronos.rte.ie/realmedia//2019/0718/audiobrowse/18072019230000-rnag-scothandeardaoin-pid3125-25380000_audio.mp3" @json="/assets/18072019230000-rnag-scothandeardaoin-pid3125-25380000_audio.json"/>
{{outlet}}